input:disabled{
    background-color: #e0e0e0;
    color: #000000;
}

button:hover{
    color: white;
    background-color: blue;
    padding: 0px;
}

tbody tr:nth-child(odd):hover{
    background-color: #006400; 
    color: #ffffff;
}

tbody{
    background-color: #8b0000; 
    color: #ffffff;
}
p::first-line{
    color:red;
}
p, div{
    color:blue
}

.abuelo .hijo{
    background-color: yellow;
}
.primero>p{
    background-color: orange;
}
